/* style.css */
body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    color: #333;
    line-height: 1.6;
    padding: 20px;
}

h1 {
    text-align: center;
    color: #333;
}

form {
    background: #fff;
    padding: 20px;
    margin: 20px auto;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    max-width: 500px;
}

label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
}

input[type='number'],
select {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

button {
    display: block;
    width: 100%;
    padding: 10px;
    background: #5cb85c;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background: #4cae4c;
}

#packingList div {
    background: #fff;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

input[type='checkbox'] {
    margin-right: 10px;
}

#resetButton {
    background: #d9534f;
    margin: 20px auto;
    width: 100%;
}

#resetButton:hover {
    background: #c9302c;
}

.advice-message {
    padding: 10px;
    margin-top: 10px;
    background-color: #ffffe0; /* Couleur de fond jaune clair pour le message */
    border: 1px solid #ff0000; /* Bordure dorée */
    border-radius: 4px;
    font-weight: 900;
    text-align: center;
}
